In [1]:
import gspread

gc = gspread.service_account(filename='./oauth.json')
print("Login successful")

Login successful

In [2]:
import pandas as pd
from src.tournament import Table, Player

worksheet = gc.open('Sample Data Spreadsheet').worksheet("Games")

games = pd.DataFrame.from_records(worksheet.get("Games"))
players = pd.DataFrame.from_records(worksheet.get("Players"))
waiting_players_list = pd.DataFrame.from_records(worksheet.get("WaitingPlayers"))

games.head(10)

           0          1          2        3
0    Horacio  Catharine       Drew   Shanti
1  Harriette     Halley     Libbie      See
2      Moses     Jolynn      Mamie    Melva
3     Joseph     Glynda     Halley    Onita
4    Latoyia     Halley      Erwin  Synthia
5     Nelida   Veronika      Moses     Rudy
6     Olevia  Harriette     Louann     Dale
7        Dan      Emile   Clarinda   Shanti
8        Bud    Ellamae     Olevia     Dale
9      Emile      Melva  Catharine   Jimmie

In [3]:
from src.tournament import Table, Player

player_history = {}
def init_player_history(name):
    player_history[name] = Player(name)
    
waiting_players = {}
def init_waiting_players(name):
    waiting_players[name] = True

for i, player in players.iterrows():
    init_player_history(player[0])
    

    
games_with_player = games.applymap(lambda x: player_history[x])
games_with_tables = games_with_player.apply(lambda game: Table(players=game), axis=1)

games_with_tables.head(10)

print(f'Tables = {games_with_tables.shape[0]}, Players = {len(players)}')

Tables = 557, Players = 50

In [4]:
def update_player_histories(table):
    for player in table:
        player.play_table(table)
    return table

tabled_games = games_with_tables.apply(update_player_histories)

In [15]:
from src.simulated_annealing import simulated_annealing

waiting_player_history = []

for i, player in waiting_players_list.iterrows():
    waiting_player_history.append(player_history[player[0]])

result, cost = simulated_annealing(waiting_player_history, 4, 100000)

print(cost)
print(result)

26.258823869319443
[[Lynsey, Mamie, Erwin, Clarinda], [Ella, Nelida, Madeleine, Joseph], [Latoyia, Dale, Lucila, Alethea], [Rudy, Romana, Louann, Terese], [Jolynn, Onita, See, Allena], [Kaycee, Ellamae, Jimmie]]